/* Type selectors */
body {
    margin: 1em auto;             /* Note the syntax of the CSS rules: */
    width: 80%;                   /* property-name: property-value(s); */
    background-color: white;
    padding: 1%;
    border: 1px solid green;
}

h1, h2 {
    color: purple;
}

#reg_form span {
    color: red;
    margin-left: 10px;
}

ul {
    display: none;
}