/* Type selectors */
body {
    margin: 1em auto;             /* Note the syntax of the CSS rules: */
    width: 80%;                   /* property-name: property-value(s); */
    background-color: white;
    padding: 1%;
    border: 1px solid green;
}

h1, h2 {
    color: purple;
}
/* Id selectors */
#copyrights {
    font-size: 0.9em;
    font-style: italic;
}

/* Class selectors */
.first_p {
    font-weight: bold;
}

label {
    float: left;
    width: 5em;
}

input {
    margin-bottom: 1em;
}

div {
    display: none;
}
div.open {
    display: block;
}